body {
    font-family: "Figtree", sans-serif;
    margin: auto;
    padding: 0;
    color: white;
}

.logo {
    font-family: "Figtree", sans-serif;
    color: white;
    font-weight: bold;
}

h1, h2 {
    font-family: "Figtree", sans-serif;
    color: white;
}

.container {
    text-align: center;
    max-width: 2010px;
    margin: 1rem;
}

.flex-container {
    display: flex;
}

header {
    position: center;
    background: rgb(29, 28, 28);
    display: block;
    width: 100%;
    border-bottom: 1px solid rgb(29, 28, 28);
}

header .flex-container {
    justify-content: space-between;
}

header nav a {
    text-decoration: none;
}

header nav a:hover {
    border-bottom: 3px solid #ffffff;
}

ul {
    display: flex;

}

ul li {
    list-style-type: none;
    padding: 0 1rem;
    font-weight: bold;
}

a {
    color: #ffffff;
}
a:visited {
    color: rgb(173, 173, 173);
}
a:hover {
    color: rgb(65, 65, 65);
}
a:active {
    color: rgb(179, 75, 75);
}

section {
    padding: 80px 0;
}

#hero {
    text-align: justify;
    background: rgb(29, 28, 28);
}

#teine {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('_MG_7281.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#kolmas {
    background: rgb(29, 28, 28);
}

#neljas {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('_MG_7281.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

aside.sidebar {
    width: 320px;
    position: sticky;
}

.sticky-container {
    top: 80px;
    position: sticky;
    border-radius: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
    color: white;
}

/* ── Buttons ── */
.button {
    padding: 0.5rem 0.8rem;
    background-color: #7a4d4d;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
    letter-spacing: 1.2px;
    border-radius: 4px;
}

.button.secondary {
    background-color: #7a4d4d;
}

.button:hover {
    opacity: .5;
}

footer {
    background: rgb(29, 28, 28);
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* FLEX */
header .flex-container > .logo {
    flex: none;
}

header .flex-container > nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#teine .flex-container > article {
    flex: 1;                 
    min-width: 0;
}

#teine .flex-container > aside {
    flex: 1;                 
    min-width: 0;
}

#kolmas .flex-container > article {
    flex: 1;                  
    min-width: 0;
}

#neljas .flex-container > article {
    flex: 1;                
    min-width: 0;
}

footer .flex-container > .logo {
    flex: none;
}

footer .flex-container > nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#teine .flex-container,
#kolmas .flex-container,
#neljas .flex-container {
    gap: 3rem;
}
